# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo